
.sec-1{
    background-image: url(../Assets/background1/p-tz2.jpg);
    background-repeat: no-repeat;
    background: cover;
    height: 700px;
}
#h1-h {
    border: 3px solid aquamarine;
    background-color: white;
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}
.c-deck{
    padding: 10px;
}
.title-1{
    text-align: center;
    font-weight: 100px;
    opacity: 0.6;
    width: 100%;
    font-size: 100px;
    color: white;
    text-decoration: overline;
    margin-top: 50px;
}
.h3-weekly{
    text-align: center;
    padding: 40px
}
.jumbotron {
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: solid red 2px;
    padding-top: 20px;
  }
  .jumbotron h2 {
    padding-top: 150px;
    padding-left: 400px;
    color: whitesmoke;;
    font-size: 50px;
    background-color: grey;
    font-family: fantasy;
    font-style: italic;
  }