
.sec-1{
    background-image: url(../Assets/background1/p-tz2.jpg);
    background-repeat: no-repeat;
    background: cover;
    height: 700px;
}
#h1-h {
    border: 3px solid aquamarine;
    background-color: white;
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}
.c-deck{
    padding: 10px;
}
.title-1{
    text-align: center;
    font-weight: 100px;
    opacity: 0.6;
    width: 100%;
    font-size: 100px;
    color: white;
    text-decoration: overline;
    margin-top: 50px;
    color: #202c2d;
    background: #FFFFFF;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
.h3-weekly{
    text-align: center;
    padding: 40px
}
.jumbotron {
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: solid rgb(137, 204, 204) 2px;
    padding-top: 20px;
  }
  .jumbotron h2 {
    padding-top: 150px;
    padding-left: 400px;
    color: whitesmoke;;
    font-size: 100px;
    font-family: fantasy;
    font-style: italic;
    text-align: center;
    margin-top: 0
    
  }
  .card-body{
      background-image: url(../Assets/background1/p-tz1.jpg);
      background: cover;
      background-repeat: no-repeat;
      height: 300px;
  }
  .card-text{
      color: white;
      background-color: #202c2d;
      opacity: 0.8;
      
  }
  .faces {
    font-style: italic;
    text-decoration: underline;
  }
  .btn {
    background-color: rgb(137, 204, 204);
  }
  .fat-z {
    display:none;
  }
  .heading {
    color: rgb(137, 204, 204);
    text-decoration: underline;
  }
  .framed {
    border: solid rgb(247, 247, 247) 2px;
    border-radius: 6px;
    padding: 25px;
    color: rgb(137, 204, 204);
    margin-top: 50px;
  }
  #show-order {
    display: none;
  }
  
  .orderList {
    display: none;
  }
  
  .modal-content {
    text-align: center;
  }
  
  #orders {
    cursor: pointer;
    color: rgb(137, 204, 204);
    list-style-image: url("../Assets/background1/p-tz4.jpeg");
  }
  
  #orders:hover {
    text-decoration: underline;
  }
  .foot-r{
    margin: 30px;
    padding: 50px;
    text-align: center;
    text-decoration: overline;
  }
  .cont-1{
    border: 
    rgb(137, 204, 204)
  }